.App {
  text-align: center;
}
.header-title {
  
}
.header-subtitle {
  color: #2b2b2b;
  letter-spacing: 3px !important;
}
.add-button-icon {
  font-size: 70px !important;
}
.add-button-icon:hover {
  cursor: pointer;
}
.task-input-field {
  width: 400px;
  max-width: 80vw;
}

.tasks-list {
  width: 600px;
  max-width: 80vw;
  margin: auto !important;
}

.task-card {
  border: 1px solid #ddd;
  border-bottom: none;
}

.task-card:last-child {
  border-bottom: 1px solid #ddd;
}
.task-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-date {
  white-space: break-spaces;
}
.select-input {
  visibility: hidden;
  width: 0;
  margin-right: 10px;
}
.no-item-title {
  color: #ddd;
}

.search-field {
  font-size: 10px;
  margin: 0 8px !important;
  width: 150px;
}
.sort-icon {
  font-size: 50px !important;
  border: 1px solid black;
  border-radius: 3px;
}
.active-button {
  background-color: #ddd !important;
}
.modal-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #2b2b2b;
}


.disabled-task {
  text-decoration-line: line-through;
  color: #ddd;
  & .MuiListItemText-secondary {
    color: #ddd;
  }
}
